@font-face {
    font-family: "Comforter";
    src: url('../fonts/ComforterBrush-Regular.ttf');
}
@font-face {
    font-family: "Andika";
    src: url('../fonts/Andika-Regular.ttf');
}
@font-face {
    font-family: "Briem";
    src: url('../fonts/BriemHand-SemiBold.ttf');
}