.invite {
      position: relative;
      width: 100%;
      max-width: 580px;
      margin: 15vh auto 0;
    }

    .envelope {
      position: relative;
      width: 100%;
      height: 240px;
    }

    .flap {
      position: absolute;
      width: 140%;
      height: 2px;
      background: rgba(150, 80, 80, 0.45);
      top: 50%;
      left: -20%;
    }

    .flap.tl { transform: rotate(35deg); }
    .flap.tr { transform: rotate(-35deg); }
    .flap.bl { transform: rotate(-145deg); }
    .flap.br { transform: rotate(145deg); }

    /* Верхний текст */
    .top-text,
    .bottom-text,
    .bottom-text2 {
      position: absolute;
      width: 100%;
      text-align: center;
      font-family: 'Cormorant Garamond', serif;
      font-weight: 400;
      color: #A10000;
      opacity: 1;
      transition: opacity 0.6s ease, transform 0.6s ease;
      pointer-events: none;
      z-index: 4;
    }

    .top-text {
      top: -60px;
      font-size: 28px;
      font-family: "Comforter";
      font-weight: 400;
      line-height: 1;

    }

    .bottom-text {
      bottom: -40px;
      font-size: 20px;
      font-family: "Andika";
    }
    .bottom-text2{
        font-size: 20px;
      font-family: "Andika";
      font-weight: 600 !important;
      margin: 0 !important;
    }

    /* Сердце вместо круга */
    .seal {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 204px;
      height: 204px;
      transform: translate(-50%, -50%);
      background-image: url('../img/heart.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 16px;
      text-align: center;
      line-height: 1.2;
      padding: 4px;
      box-sizing: border-box;
      text-shadow: 0 1px 2px rgba(0,0,0,0.6);
      transition: transform 0.5s ease, opacity 0.5s ease;
      font-weight: 400;
      font-family: "Andika";
    }

    .seal.fade-out {
      opacity: 0;
      transform: scale(0.8) translate(-50%, -50%);
      pointer-events: none;
    }

    .content {
      opacity: 0;
      transform: translateY(32px);
      transition: opacity 0.8s ease, transform 0.8s ease;
      text-align: center;
      margin-top: 20px;
    }

    .inner {
      text-align: center;
    }
    .small-heart{
      width: 20px;
      height: 20px;
      transform: translateY(5px) rotateY(180deg);
    }
    .body{
        color: #A10000;
    }